
.DS_Store
.idea/compiler.xml
.idea/dictionaries/LinkS.xml
.idea/encodings.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/workspace.xml
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources.xml
.idea/dataSources/d32b1754-d0f5-44b1-a04f-10a9b6daac90.xml
.idea/dataSources.xml
.idea/dataSources/d32b1754-d0f5-44b1-a04f-10a9b6daac90/storage_v2/_src_/database/test.kkQ2AA.meta
.idea/dataSources/d32b1754-d0f5-44b1-a04f-10a9b6daac90/storage_v2/_src_/database/test.kkQ2AA/schema/public.abK9xQ.meta
.idea/inspectionProfiles/Project_Default.xml
.idea/dataSources.xml
